@use '../abstract/mixins';
@use '../abstract/variables';
@use '../abstract/functions';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
