@use '../abstract/mixins';
@use '../abstract/variables';
@use '../abstract/functions';

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: grid;
}

.grid--col--1 {
  grid-template-columns: 1fr;
}
.grid--col--2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--col--4 {
  grid-template-columns: repeat(4, 1fr);
}

.p-section {
  padding: 6.2rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}
